*{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
}

.primary-btn{
    background:#F15B22;
    color:#eeeeee;
    border-radius:5px;
    border:none;
    padding:15px 30px;
    font-size:17px;
    font-weight:600;
    margin:30px 0px;
}
/* header banner part */
#header{
    background-image:url('../images/banner/banner2.png');
    background-repeat:no-repeat;
    background-size:cover;
    padding:350px 150px;
}
/* header content part */
.header-content{
    width:300px;
    float:right;
    text-align:right;
    margin-top:-120px;
}
.header-content .header-title{
    font-size:40px;
    font-weight:800;
    color:#000000;
}
.header-content .header-description{
    font-size:17px;
    color:#444343;
    font-weight:300;
}
/* End header style */

/* Start failure section style */
#failure-section{
    background-image:url('../images/person.png');
    background-repeat:no-repeat;
    padding:300px 200px;
    margin-top:100px;
   margin-left:100px;
}

.section-content{
   width:300px;
   margin-left:440px;
   margin-top:-60px;
   justify-content:center;  
}
.section-content .section-title{
    font-size:40px;
    font-weight:700;
    color:#000000;
    margin-bottom:35px;
}
.section-content .section-text{
    font-size:16px;
    color:#444343;
    font-weight:300;
    margin-bottom:20px;
}
.section-content .section-nav{
    list-style-type:none;
}
.section-content .section-nav .fa-check{
    color:#16d887;
    margin-right:5px;
}
.section-content .section-nav li{
    font-size:15px;
    font-weight:300px;
    color:#444343;
    margin-bottom:10px;
}
/* End failure section style */

/* Start myPlans style */
#myPlan{
    padding:0px 150px;
}
#myPlan .myPlan-title{
    font-size:40px;
    color:#000000;
    font-weight:700;
    text-align:center;
    margin-bottom:30px;
}
#myPlan .content-wrap{
    display:flex;
    gap:70px;
    justify-content:center;
}
#myPlan .myPlan-content img{
    width:80px;
    height:80px;
    margin-bottom:30px;
}
#myPlan .myPlan-content h3{
    font-family:40px;
    font-weight:800;
    color:#000000;
}
#myPlan .myPlan-content p{
    font-size:17px;
    font-weight:300;
    color:#444343;
    text-align:center;
    margin-top:20px;
}
/* End myPlan section */
/* Start gradient style */
#gradient{
    padding:100px 130px;
}
.gradient-box{
    background-image:url('../images/gradient2.png'), url('../images/watch.png');
    border-radius:7px;
    padding:100px 50px;
    background-repeat:no-repeat;

}
.gradient-box-title{
    font-size:40px;
    font-weight:800;
    color:#ffffff;
}
.gradient-btn{
    background:#ffffff;
    padding:15px 30px;
    color:#F15B22;
    border:none;
    border-radius:5px;
    margin-top:30px;
    cursor:pointer;
}
.gradient-btn:hover{
    background:#000000;
    color:#fff;
    transition:all 0.5s ease;
}
/* End gradient section */

/* Start skill section style */
#counter{
    background-color:#777777;
    padding:100px 80px;
    overflow:hidden;
}
.counter-box-header{
    font-size:45px;
    font-weight:800;
    text-align:center;
    color:#ffffff;
    margin-bottom:120px;
}
.counter-box{
    float:left;
    display:block;
    background:#fff;
    width:280px;
    height:auto;
    margin-right:15px;
    box-shadow: 5px 12px 2px 1px rgba(9, 10, 9, 0.2);
    border-radius:5px;
}
.counter-box img{
    width:100%;
    height:200px;
    cursor:pointer;
}
.counter-box-title{
    text-align:center;
    font-size:25px;
    font-weight:700;
    color:#000;
    margin-top:30px;
    margin-bottom:30px;
}
.counter-box-text{
    font-size:17px;
    color:#444343;
    text-align:justify;
    padding:0px 10px;
}
.counter-box-btn{
    background:#F15B22;
    color:#eeeeee;
    border-radius:5px;
    border:none;
    padding:15px 30px;
    font-size:17px;
    font-weight:600;
    margin:0px auto;
    display:block;
   margin-top:20px;
   margin-bottom:30px;
   cursor:pointer;
}
.counter-box-btn:hover{
    background:#000000;
    color:#fff;
    transition:all 0.5s ease;
}
/* End counter section */

/* Start footer section */
#top-footer{
    background-color:#151414;
    padding:100px 200px;
    display:flex;
    justify-content:space-between;
}
 .footer-left{
    margin-right:300px;
}
.footer-left-title{
    font-size:45px;
    font-weight:800;
    color:#F8F8F8;
    margin-bottom:20px;
}
.footer-left-text{
    font-size:17px;
    color:#BFBFBF;
    font-weight:400;
    margin-bottom:30px;
}
.footer-email, .footer-phone{
    font-size:16px;
    color:#BFBFBF;
    margin-bottom:10px;
}
.footer-phone{
    margin-bottom:30px;
}
.footer-nav{
    list-style-type:none;
}
.footer-nav li{
    float:left;
    margin-right:15px;
}
.footer-nav li:last-child{
    margin-right:0px;
}
/* End footer left side */

.footer-right{

}
.right-footer-title{
    font-size:30px;
    font-weight:800;
    color:#F8F8F8;
    margin-bottom:20px;
}
.footer-right .email{
    background:transparent;
    border:1px solid #ddd;
    border-radius:7px;
    padding:10px 15px;
    margin-bottom:20px;
    font-size:17px;
}
.footer-right .subscribe{
    background:#ffffff;
    font-size:17px;
    color:#ffffff;
    color:red;
    border-radius:7px;
    padding:15px 25px;
    cursor:pointer;
}
.footer-right .subscribe:hover{
    background:#000000;
    color:#fff;
    transition:all 0.5s ease;
}
/* End footer style */

/* bottom footer design */
#bottom-footer{
    background-color:#444444;
    padding:20px 200px;
}
#bottom-footer .bottom-footer-text{
    text-align:center;
    font-size:17px;
    color:#ffffff;
    font-weight:400;
}
